<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    {% if current_user.is_authenticated %}
    <div>
        <p>Olá, {{ current_user.username }} </p>
        <a href="{{ url_for('sair') }}">Sair</a>
    </div>

    {% else %}
    <div>
        Olá visitante!
        <a href=" {{ url_for('entrar')}}">Entrar</a>
        <a href=" {{ url_for('registrar')}}">Criar uma conta</a>
    </div>
    {% endif %}
</body>
</html>