<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="username" placeholder="insira um nome de usuario">
        <input type="text" name="email" placeholder="insira um e-mail">
        <input type="password" name="password", placeholder="******">
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>